    /*first part*/
body{
    margin: 0px;
    padding: 0px;
    height: min 100vh;
    font-family: "roboto" sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
header{
    background-color: #1f2937;
}
.header{
    display: flex;
    flex:0 0 30px ;
    padding: 16px; 
    justify-content: space-between;
}
.header,
.text{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.link{
    display: flex;
    gap: 16px;
}

.text{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 950px;
    padding-right: 200px;
    height: 300px;
    text-align: center;
    
}
.mainText{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.mainTextt{
    font-size: 18px;
    color: #e5e7eb;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
}
    /*second part*/
main{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.title{
    font-size: 36px;
    font-weight: bolder; 
    color: #1f2937;
    padding: 24px;
}

.image{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 10px;
}
figcaption{
    text-align: center;
    width: 200px;
    font-size: 18px;
    color: #1f2937;
}
.box{
    display: flex;
    gap: 16px;
}
    /* third part*/
.cont{
    text-align: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #1f2937;
}
.author{
    text-align: end;
}
    /*last part*/
.last{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.last-box{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.txt{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    
}

.signup{
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: large;
}
